:root{
    --deep-plum: #2a003f;
	--ivory-white: #fef9f5;
	--medium-plum: #4b2b3f;
	--rasberry-red:#d72638;
	--dusty-peach: #f4b393;
	--vtw: #d9d9d905;
	--vt: #d9d9d912;
	--soft-gray: #E5E5E5;
    --light-medium-plum: #4b2b3f50;
    --light--ivory-white: #fef9f53f;
    --very-light: #4b2b3f1c;
    --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.25);
    --shadow-deep: 0 12px 30px rgba(0, 0, 0, 0.35);


    --html: hsl(13, 77%, 52%);
    --css: hsl(205, 79%, 40%);
    --js: hsl(53, 93%, 54%);
    --sass: hsl(330, 50%, 60%);
    --github: hsl(0, 2%, 9%);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img{
    display: block;
    max-width: 100%;
}
button{
    font-size: inherit;
    font-size: inherit;
    color: inherit;
}

.grid{
    display: grid;
    place-items: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", serif;
}

body{
    position: relative;
    color: var(--medium-plum);
    font-family: "Exo 2", sans-serif;
    font-size: 1.2rem;
    background-color: var(--ivory-white);
    width: 100%;
    text-align: center;
}

.portfolio__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--deep-plum);
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 1000;
}

/* Logo section */
.porfolio__logo{
    background-image: linear-gradient(var(--medium-plum), var(--rasberry-red));
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
}

.portfolio__logo-img{
    width: 2.5rem;
}

.nav{
    position: fixed;
    right: -16rem;
    top: 5rem;
    width: 16rem;
    height: 100%;
    background-color: var(--deep-plum);
    transition: right 0.5s ease-in-out;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.nav.toggle{
    right: 0;
}

.nav__list{
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
	justify-content: center;
}

.nav__item{
    margin-block-end: 1.5rem;
	background-color: var(--vt);
}

.nav__link {
	color: var(--ivory-white);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
    letter-spacing: 2px;
	padding: 1rem 4rem;
	display: grid;
    place-items: center;
	gap: 2.5rem;
}

.portfolio__nav{
    border: none;
    outline: none;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    color: white;
}

.nav__open, .nav__close{
    font-size: 2rem;
}

.portfolio__nav--close{
    position: absolute;
    left: 1rem;
}

/* hidden class */
.hidden{
    display: none;
}

.overlay.active{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.3125rem);
	background: rgba(0, 0, 0, 0.3);
}

/* Main page begins here */
section{
    opacity: 0;
    transform: translateY(0.2rem);
    transition: all 0.8s ease-out;
    padding-inline: 1.5rem;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

.portfolio__home{
    background-color: var(--medium-plum);
    color: var(--ivory-white);
    padding-block: 3rem;
}

.home__title{
    font-family: "Exo 2", sans-serif;
    padding-block-end: 0.5rem;
}

.home__desc{
    padding: 1rem 0;
    max-width: 30rem;
    line-height: 1.7;
    margin: 0 auto;
}

.home__btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block-start: 0.8rem;
    padding-block-end: 2.5rem;
}

.home__btn{
    width: 100%;
    max-width: 15rem;
    border: 0.0625rem solid var(--ivory-white);
    background-color: transparent;
    outline: none;
    padding: 1rem 0;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    letter-spacing: 2px;
}

.home__btn--colored{
    background-image: linear-gradient(135deg, var(--deep-plum), var(--rasberry-red));
    color: var(--ivory-white);
    border: none;
}

.home__image{
    border-radius: 50%;
    width: 15rem;
    border: 4px solid var(--ivory-white);
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

/* skills icons */
.html__icon{
    color: var(--html);
}

.css__icon{
    color: var(--css);
}

.js__icon{
    color: var(--js);
}

.sass__icon{
    color: var(--sass);
}

.github__icon{
    color: var(--github);
}

.home__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-block-start: 2.5rem;
}

.home__icon{
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: var(--light--ivory-white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home__icon:hover{
    background-color: var(--light-medium-plum);
    transform: translateY(-8px) rotate(2deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.icon__tailwind {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  background-image: url(../media/tailwindcss-mark.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* About section */
.portfolio__about,
.portfolio__technical--skills,
.portfolio__projects,
.contact,
.portfolio__footer{
    padding-block: 3rem;
}

.portfolio__about-title{
    line-height: 1.9;
}

.about__title{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.about__title--main{
    font-family: "Montserrat", serif;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.3rem);
    font-weight: 700;
	color: var(--deep-plum);
}

.portfolio__divider{
    width: 8rem;
    height: 0.3rem;
    border: none;
    background-image: linear-gradient(135deg, var(--deep-plum), var(--rasberry-red));
    margin-block-start: 1.5rem;
    margin-block-end: 3rem;
    margin-inline: auto;
}

.portfolio__about-container{
    display: block;
}

.about__image--container{
    position: relative;
    display: inline-block;
    z-index: -1;
}

.about__shadow{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 18rem;
    height: 18rem;
    background-image:  linear-gradient(135deg, var(--deep-plum), var(--rasberry-red));
    z-index: -1;
    border-radius: 0.5rem;
}

.about__image{
    display: block;
    position: relative;
    width: 18rem;
    z-index: -1;
    border-radius: 0.5rem;
}

.about__answer{
    margin-block: 3.5rem;
    line-height: 1.7;
    width: 100%;
    max-width: 30rem;
    margin-inline: auto;
}

.tab__content {
    display: none;
}

.tab__content.active{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 2rem;
    align-items: stretch;
    justify-content: center;
    max-width: 45rem;
    padding-block: 2rem;
    margin-inline: auto;
    margin-block: 1.5rem;
}

/* tab buttons */
.portfolio__tabs{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2rem;
}

.tab__btn{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1.5rem 1rem;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
}

.tab__btn::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--medium-plum);
    display: block;
}

.tab__btn.active{
    width: 50%;
    color: var(--rasberry-red);
    font-weight: 600;
    border: 1px solid var(--light-medium-plum);
    border-radius: 7px;
}

.tab__btn.active::after{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* Progress Bar */
.progress__bar{
    display: block;
    width: 100%;
    height: 0.4rem;
    background-color: var(--light-medium-plum);
    border-radius: 50px;
}

.progress__bar span{
    display: block;
    float: left;
    height: 0.4rem;
    background-image:  linear-gradient(135deg, var(--deep-plum), var(--rasberry-red));
    border-radius: 50px;
}

.html,
.frontend{
    width: 80%;
    animation: html 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.css{
    width: 85%;
    animation: css 3s;
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

.javascript{
    width: 90%;
    animation: javascript 3s;
}

@keyframes javascript {
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
}

.sass{
	width: 70%;
	animation: sass 3s;
}

@keyframes sass {
	0%{
		width: 0%;
	}
	100%{
		width: 70%;
	}
}

.tailwindcss{
    width: 70%;
	animation: sass 3s;
}

@keyframes sass {
	0%{
		width: 0%;
	}
	100%{
		width: 70%;
	}
}

.git{
	width: 70%;
	animation: git 3s;
}

@keyframes git {
	0%{
		width: 0%;
	}
	100%{
		width: 70%;
	}
}

/* Education Tab */
.education__tab{
    position: relative;
    width: 100%;
    max-width: 20rem;
    padding: 4rem 1rem;
    background-color: var(--ivory-white);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: -1;
    margin: 0 auto;
    cursor: pointer;
}

.education__tab::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: -1;
}

.education__pseudo::before{
    top: 0;
    left: 0;
    background-color: var(--medium-plum);
}

.education__odd::before{
    top: 0;
    right: 0;
    background-color: var(--rasberry-red);
}

/* Interest cards section*/
.interest__grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.interest__card{
    width: 20rem;
    margin: 0 auto;
    background-color: var(--ivory-white);
    border-radius: 1.25rem;
    padding: 2.5rem 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.interest__card:hover{
    transform: translateY(-8px) rotate(2deg);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

.interest__icon{
    font-size: 2.5rem;
    margin-block-end: 2rem;
}

.interest__title{
    font-weight: 600;
}

/* Technical Skill */
.skilss{
    display: inline-block;
}

.portfolio__technical--skills{
    background-color: var(--very-light);
}

.skills__description{
    padding-block-end: 1rem;
    width: 100%;
}

.skills__title{
    font-weight: 600;
    font-size: 1.3rem;
    margin-block-end: 0.7rem;
}

.skills__text{
    margin-block-end: 1.3rem;
    font-size: 1rem;
    line-height: 1.5;
}

.skills__item{
    display: flex;
    gap: 2rem;
    width: 100%;
    text-align: left;
    border-radius: 7px;
    background-color: var(--ivory-white);
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.skills__list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.skills__icon{
    width: 4rem;
    height: 3rem;
}

.skills__btn{
    outline: none;
    border: 1px solid var(--medium-plum);
    background-color: transparent;
    padding: 1rem 2rem;
    margin-block-end: 3rem;
    border-radius: 7px;
    transition: background-image 0.3s ease;
}

.skills__btn:hover{
    background-image: linear-gradient(var(--medium-plum), var(--rasberry-red));
    color: var(--ivory-white);
}

/* Projects section */
.projects__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 2rem;
    padding-block: 1.5rem;
}

.projects__card{
    display: none;
    border-radius: 7px;
    background-color: var(--ivory-white);
    overflow: hidden;
    box-shadow: var(--shadow-light);
    transition: transform 0.3s ease;
}

.projects__card:hover{
    transform: translateY(-8px);
    box-shadow: var(--shadow-deep);
}

.projects__card.show{
    display: block;
}

.projects__image{
    position: relative;
    height: 12.5rem;
    overflow: hidden;
}

.projects__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.projects__card:hover .projects__image img{
    transform: scale(1.05);
}

.projects__links{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.30);
}

.projects__card:hover .projects__links{
    opacity: 1;
}

.projects__icon{
    background-color: var(--ivory-white);
    color: var(--medium-plum);
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.projects__icon:hover{
    transform: translateY(-5px);
    background-color: var(--medium-plum);
    color: var(--ivory-white);
}

.projects__info{
    text-align: left;
    padding: 1.5rem 2rem;
}

.projects__title{
    font-size: 1.2rem;
    margin-block-end: 1rem;
}

.projects__btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-block: 1.5rem;
}

.project__btn{
    outline: none;
    border: 1px solid var(--medium-plum);
    background-color: transparent;
    padding: 0.7rem 1.5rem;
    border-radius: 1000px;
    font-size: 1rem;
    transition: background-image 0.3s ease-in-out;
}

.project__btn.active{
    background-image: linear-gradient(var(--medium-plum), var(--rasberry-red));
    color: var(--ivory-white);
}

.projects__style{
    justify-content: flex-start;
}

.style{
    border: none;
    cursor: auto;
    background-color: var(--very-light);
    padding: 0.6rem 1rem;
    border-radius: 7px;
    font-size: 1rem;
}

/* Contact Section */
.contact{
    background-color: var(--very-light);
}
.contact__info,
.icon,
.box {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.contact__info{
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.icon{
    width: 3rem;
    height: 3.2rem;
    background-image: linear-gradient(var(--medium-plum), var(--rasberry-red));
    color: var(--ivory-white);
    border-radius: 7px;
    justify-content: center;
}

.icon i{
    font-size: 1.3rem;
}

.contact__info{
    margin-block: 2rem;
}

.contact__text{
    text-align: start;
}

.contact__text--header{
    font-size: 1.1rem;
    margin-block-end: 0.5rem;
}

/* contact socials */
.social__container{
    margin-block-start: 1.5rem;
}
.social__header{
    border-left: 50px solid var(--ivory-white);
    padding-left: 1rem;
    position: relative;
}

.social__header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -3rem;
    width: 50px;
    height: 100%;
    box-shadow: var(--shadow-light);
    pointer-events: none;
}
.social__links{
    margin-block-start: 1.5rem;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ivory-white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: var(--shadow-light);
    transition: background-image 0.3s ease, transform 0.3s ease;
}

.social__item:hover{
    background-image: linear-gradient(var(--medium-plum), var(--rasberry-red));
    transform: translateY(-8px);
}

.social__item:hover .social__link{
    color: var(--ivory-white);
}

.social__link {
    color: var(--medium-plum);
    font-size: 1.5rem;
}

/* Footer */
.portfolio__footer{
    background-color: var(--deep-plum);
    color: var(--ivory-white);
}

.footer__container{
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    text-align: left;
    font-size: 1rem;
}

.footer__logo{
    margin-block-end: 3rem;
}

.footer__shortcut{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.footer__item{
    list-style-type: none;
}

.footer__list{
    display: block;
}

.footer__list span{
    position: relative;
    display: inline-block;
    padding-block-end: 1rem;
}

.footer__list span::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-image: linear-gradient(var(--medium-plum), var(--rasberry-red));
    margin-block-end: 0.7rem;
    transition: width 0.5s ease;
}

.footer__list span:hover::after{
    width: 100%;
}

.footer__list--link{
    text-decoration: none;
    color: var(--ivory-white);
}

.footer__link{
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1.9;
}

.footer__paragraph{
    letter-spacing: 1px;
}

.container{
    max-width: 33.75rem;
}

@media (min-width: 48em) {
    .portfolio__tabs{
        flex-direction: row;
    }

    .tab__btn.active{
        width: 100%;
    }
}

@media (min-width: 56.25em) {
    .skills__item{
        flex: 0 0 auto;
        width: 50%;
    }

    .projects__desc{
        width: 100%;
        max-width: 46.8rem;
        margin: 0 auto;
    }
    
    .nav{
        position: relative;
        width: auto;
        height: auto;
        top: 0;
        right: 0;
        background-color: transparent;
        flex-direction: row;
        transition: none;
    }

    .portfolio__nav{
        display: none;
    }

    .nav__list{
        flex-direction: row;
    }

    .nav__item{
        background-color: transparent;
        margin-block-end: 0;
    }

    .nav__link{
        padding: 1rem 2rem;
        font-weight: 400;
        font-size: 1rem;
    }
}

@media (min-width: 64em) {
    .portfolio__home {
        padding-block: 5rem;
    }

    .container__home{
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
    }

    .portfolio__details{
        display: flex;
        align-items: center;
    }

    .home__texts {
        text-align: start;
    }

    .home__desc {
        margin: 0;
    }

    .home__btn-container {
        justify-content: start;
        padding-block-end: 0;
    }

    .home__image {
        width: 18rem;
    }

    .item{
        flex: 0 0 auto;
        width: 50%;
    }

    /* Tab buttons */
    .tab__btn{
        border-bottom: none;
    }

    .portfolio__tabs{
        border-bottom: 1px solid var(--medium-plum);
        width: 100%;
        max-width: 60rem;
        margin-inline: auto;
    }

    .tab__btn::after{
        display: none;
    }

    .portfolio__about-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 65.6rem;
        margin-inline: auto
    }

    .about__answer{
        margin-inline: 0;
        text-align: left;
    }

    section:not(.portfolio__about) {
        padding-inline: 4rem;
    }

}